<div class="gradient"></div>
<footer class="container__footer">
  <div class="footer__info">
    <div class="logo">
      <img src="../../../assets/icons/rose-black.png" alt="" srcset="">
      <h1>The Rosenstock.</h1>
    </div>
    <p>Blog desenvolvido para o Bootcamp Potência Tech <br>Angular Developer Powered by Ifood.</p>
  </div>
  <div class="gradient__hr"></div>
  <div class="footer__contact">
    <div class="footer__copyright">
      &copy; 2023 The Rosenstock.
    </div>
    <div class="footer__media">
      <a href=""><img src="../../../assets/icons/linkedin.png" alt="" srcset=""></a>
      <a href="http://"><img src="../../../assets/icons/github.png" alt="" srcset=""></a>
      <a href="http://"><img src="../../../assets/icons/instagram.png" alt="" srcset=""></a>
      <a href="http://"><img src="../../../assets/icons/twitter.png" alt="" srcset=""></a>
    </div>
  </div>
</footer>
