
<div class="container__main-card">
  <div class="main-card__photo">
    <img
      src="{{photoCover}}"
      alt=""
      srcset=""
    >
  </div>
  <div class="main-card__title">
    <span>{{author}} • {{date}}</span>
    <a [routerLink]="['content', id]">
      <h1>{{noticeTitle}} </h1>
      <img src="../../../assets/icons/seta-link.png">
    </a>
  </div>
  <div class="main-card__resume">
    <p>
      {{noticeResume}}
    </p>
    <div class="tags">
      <span *ngFor = 'let t of tags' class="tags-article">{{t}}</span>
    </div>
  </div>
</div>
