<div class="container__small-card">
  <div class="small-card__photo">
    <img src="{{photoCover}}" alt="" srcset="">
  </div>
  <div class="small-card__aside">
    <div class="small-card__title">
      <span>{{author}} • {{date}}</span>
      <a [routerLink]="['content', id]">
        <h1>{{noticeTitle}} </h1>
      </a>
    </div>
    <div class="small-card__resume">
      <p>
        {{noticeResume}}
      </p>
      <div class="tags">
        <span *ngFor="let t of tags" class="tags-article">{{t}}</span>
      </div>
    </div>
  </div>
</div>
