.gradient{
  background: rgb(131,58,180);
  height: 10px;
  width: 100%;
  background: linear-gradient(90deg, rgba(131,58,180,1) 30%, rgba(252,176,69,1) 91%, rgba(255,55,29,0.989233193277311) 2530%);
}
